@charset "utf-8";

/*  =========================
    Name: Elizabeth Sherwood
	Date: December 9, 2024
	Assignment: Final Project - Online Profile
	File Name: styles.css
    =========================
*/

/*  ============
    Main Styles:
    ============
*/

body {
    background-image: url("images/PhotoCollageReduced.jpeg");
    background-size: 100%;
    background-color: palevioletred;
    margin: 1%;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
}

.container {
    background-color: black;
    border: 2px solid darkgray;
    border-radius: 25px;
    box-shadow: 3px 3px black;
    padding: .5%;
    margin-bottom: 2%;
}

.hobbycontainer {
    background-color: black;
    border: 2px solid darkgray;
    border-radius: 25px;
    box-shadow: 3px 3px black;
    padding: 2%;
    margin: 5%;
}

.jobcontainer {
    background-color: lightgray;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    color: black;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    font-size: 5em;
    color: palevioletred;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.column {
    float: left;
    width: 45%;
    text-align: center;
    border: 1px solid palevioletred;
    margin: 2%;
}

.return {
    color: palevioletred;
}

footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    font-variant: small-caps;
}

footer a:hover {
    font-weight: bold;
    color: palevioletred;
}

.buffing {
    padding: 5%;
}

dl, dt, dd {
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}

dt {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.3em;
}
/*  ==================
    Navigation Styles:
    ==================
*/

nav,
ul,
li {
    display: flex;
    list-style-type: none;
    width: 95%;
    margin: auto;
    padding: 4px;
    font-size: 1.1em;
    font-variant: small-caps;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    color: palevioletred;
}

/*  =============
    Table Styles:
    =============
*/

table {
    width: 100%;
    padding: 5%;
}

th {
    font-size: 1.5em;
}

th,
tr,
td {
    border: 1px solid grey;
    padding: 1.5%;
}

td {
    background-color: darkgray;
    color: black;
    border: 1px solid palevioletred;
}

td:hover {
    background-color: palevioletred;
    font-weight: bold;
}

/*  =============
    Media Styles:
    =============
*/

.profileimg {
    border-radius: 5px;
    float: left;
    margin-left: 2%;
    border-radius: 50%;
    opacity: 0.5;
}

.Volunteerphotos1 {
    width: 400px;
    height: 300px;
    padding: 1%;
}

.Volunteerphotos2 {
    width: 300px;
    height: 400px;
    padding: 1%;
}

/*  ============
    Flex Styles:
    ============
*/

.Sideinfo {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 2%;
}

.profilecontainer {
    padding: 8%;
    color: black;
    background-color: lightgrey;
    border: 2px solid darkgray;
    border-radius: 10px;
    box-shadow: 3px 3px palevioletred;
}

/*  ============
    Form Styles:
    ============
*/
.formcontainer {
    margin: 5%;
    width: 90%;
}

label {
    display: block;
    margin: 1%;
    text-align: left;
    font-size: 1.2em;
}

input {
    width: 95%;
    margin-top: 1%;
    padding: 1%;
}

.submit {
    background-color: palevioletred;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    width: 25%;
}

legend {
    font-size: 40px;
}

/*  ===================
    Media Query Styles:
    ===================
*/

@media screen and (max-width: 800px) {
    .Sideinfo {
        width: 95%;
    }

    .profileimg {
        float: none;
        width: 250px;
        margin: 2%;
    }

    .profilecontainer1 {
        width: 100%;
    }

    .column {
        width: 95%;
    }

    th {
        font-size: 1em;
    }

    td {
        font-size: .8em;
    }

    header {
        font-size: 4em;
    }
}

@media screen and (max-width: 600px) {

    .profileimg {
        width: 200px;
    }

    header {
        font-size: 3em;
    }

    nav,
    ul,
    li {
        font-size: 1em;
    }

    label {
        padding: 2%;
        margin: 2%;
    }
}